<!DOCTYPE html>
      <html lang="pt-br">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Resultado do Formulário</title>
          <link rel="stylesheet" href="/css/style.css"> <!-- Puxando o CSS -->
      </head>
      <body>
        <h1 id="subtitulo">Resultado do Formulário</h1>
        
        <div id="formulario1">
            <p class="campo">Nome: <%= NomeInput %></p> <!-- Exibe o nome inserido -->
            <p class="campo">Email: <%= EmailInput %></p> <!-- Exibe o email inserido -->
        </div>
      </body>
      </html>